html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url(https://picsum.photos/1920/1080?grayscale&blur=8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
}
.fox{
    height:200px;
}
.searchbar{
   width: 40rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin:0.5rem;
    
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width:100%;

}
form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


button {
    height:70%;

    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #383838;
}

